
#main-title-index {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28pt;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 196, 0);
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-top: 5px;
    top: 0px;
    text-align: center;
    
}

#main-photo {
    display: block;
    max-width: 250px;
    height: auto;
    filter: invert(100%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#main-block {
    display: block;
    background-color: rgb(238, 238, 238);
    padding: 25px 100px 50px 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 55%;
    border: 7px outset rgb(255, 196, 0);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.sub-title-index {
    color: white;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.important {
    font-style: oblique;
}

.very-small {
    font-size: smaller;
    font-style: italic;
    
}

.block-group {
    padding: 50px 100px 50px 25%;
}

.block-logo-small {
    max-width:220px;
    height: auto;
    padding-top: 20px;
}

.block-food {
    display: inline-block;
    background-color: rgb(238, 238, 238);
    color: orange;
    border-radius: 35px;
    max-width: 250px;
    height: auto;
    padding: 20px;
    text-align: center;
    margin-right: 10%;
    margin-bottom: 10%;
}

.block-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}

footer {
    color: white;
    background-color: rgb(255, 196, 0);
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
footer a {
    font-size: large;
    padding-bottom: 30px;
    display: inline;
    margin-bottom: 30px;
}
footer h4 {
    font-size: larger;
    padding-top: 20px;
}